@include breakpoint($movil) { //20em 320px
	body.customize-partial-edit-shortcuts-shown .site-header .site-title {
		padding-left: 0;
	}
} //breakpoint($movil)

@include breakpoint($tablet) { //30em 480px
	/* Fix image alignment */
	img.alignleft {
		float: left;
		margin-right: 1.5em;
	}
	img.alignright {
		float: right;
		margin-left: 1.5em;
	}
	/* Gallery Columns */
	.gallery-item {
		max-width: 25%;
	}
	.gallery-columns-1 .gallery-item {
		max-width: 100%;
	}
	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}
	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}
	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
} //breakpoint($tablet)

@include breakpoint($laptop) { //48em 768px
	/* Widgets */
	h2.widget-title {
		font-size: 11px;
		font-size: 0.6875rem;
		margin-bottom: 2em;
	}
	/* Gallery Columns */
	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}
	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}
	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}
	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}
	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}
} //breakpoint($laptop)

@include breakpoint($desktop) { //67em 1072px
} //breakpoint($desktop)

@include breakpoint($largedesk) { //79em 1264px
	.has-sidebar .entry-content blockquote.alignleft {
		margin-left: -20%;
	}
	.blog:not(.has-sidebar) .entry-content blockquote.alignright,
	.archive:not(.has-sidebar) .entry-content blockquote.alignright,
	.page-two-column .entry-content blockquote.alignright,
	.pleiades17-front-page .entry-content blockquote.alignright {
		margin-right: -20%;
	}
} //breakpoint($largedesk)


@media screen and ( max-width: 48.875em ) and ( min-width: 48em ) {
	.admin-bar .site-navigation-fixed.navigation-top,
	.admin-bar .site-navigation-hidden.navigation-top {
		top: 46px;
	}
}