@include breakpoint($movil) { //20em 320px

	.home {
		/* SLIDER */
		.panel1 {
			background-color: rgba(LightSlateGray, 0.2);
			width: 100%;
			height: 100%;
			position: relative;
			#slider { //(div)
				.slides { //(ul)
					li {
						img {
							height: 70%;
							width: auto;
						} //img
						.slider-text {
							padding: 1em 1em 1.5em;
							background-color: $marengo;
							h2 {
								color: $white;
								font-weight: $bold;
								font-size: 18px;
								font-size: 1.125rem;
								text-transform: uppercase;
								margin-bottom: 0.5em;
								text-align: center;
								line-height: 1.4;
							} //h2
							p {
								color: $snow;
								font-weight: $light;
								line-height: 1;
								text-align: center;
								margin-bottom: 1.5em;
								&:last-child {
									margin-bottom: 0px;
								} //&:last-child
							} //p
							.cta {
								padding: 0.5em 1em;
								margin-bottom: 1em;
								@include box-shadow($carbon 2px 2px 10px);
								@include border-radius(10px);
								@include single-transition(all, 0.3s);
								background-color: $smoothwhite;
								color: $smoothred;
								&:hover,
								&:focus {
									background-color: $smoothred;
									color: $snow;
									outline: none;
								} //&:hover, &:focus
							} //.cta
						} //.slider-text
					} //li
				} //.slides (ul)
				.flex-direction-nav {
					.flex-next,
					.flex-prev {
						display: none;
					} //.flex-next, .flex-prev
				} //.flex-direction-nav
			} //#slider (div)
		} //.panel1

		/* INTRO */
		.panel2 {
			background-color: $white;
			.wrap {
				min-height: 200px;
				padding-top: 2em;
				padding-bottom: 2em;
				.entry-header {
					h3 {
						color: $marengo;
						text-transform: uppercase;
						font-weight: $normal;
						font-size: 24px;
						font-size: 1.5rem;
						text-align: center;
						margin-bottom: 0.5em;
					}
				} //.entry-header
				.entry-content {
					p {
						color: $carbon;
						text-align: center;
						font-size: 18px;
						font-size: 1.125rem;
						font-weight: $light;
						line-height: 1.3;
						// margin-bottom: 1em;
					} //p
				} //.entry-content
			}
		} //.panel2

		/* SERVICES */
		.panel3 {
			background-color: $smoothwhite;
			.wrap {
				min-height: 400px;
				padding-top: 2em;
				padding-bottom: 2em;
				.entry-header {
					h3 {
						color: $blue;
						text-transform: uppercase;
						font-weight: $normal;
						font-size: 24px;
						font-size: 1.5rem;
						text-align: center;
						margin-bottom: 0.5em;
					} //h3
				} //.entry-header
				.entry-content {
					ul {
						padding-bottom: 0px;
						li {
							background-color: $white;
							// @include border-radius(4px);
							padding: 1em;
							margin-bottom: 2em;
							list-style: none;
							border-bottom: 1px solid $midsilver;
							border-right: 1px solid lighten($midsilver, 10%);
							&:last-child {
								// margin-bottom: 0px;
							}
							h4 {
								margin-bottom: 1em;
								a {
									color: $blue;
									font-size: 20px;
									font-size: 1.25rem;
									line-height: 1.2;
									font-weight: $light;
									@include single-transition(all, 0.3s);
									&:hover,
									&:focus {
										color: $carbon;
									} //&:hover, &:focus
								} //a
							}
							p {
								color: $marengo;
								text-align: center;
								font-size: 16px;
								font-size: 1rem;
								font-weight: $light;
								line-height: 1.3;
								margin-bottom: 1em;
							} //p
							#circle {
								width: 150px;
								height: 150px;
								@include border-radius(75px);
								display: block;
								margin: 0px auto;
								img {
									width: 100%;
									height: 100%;
								} //img
							} //#circle
						} //li
					} //ul
				} //.entry-content
			} //.wrap
		} //.p0an0el3

		/* BLOG */
		.panel4 {
			background-color: $marengo;
			.wrap {
				min-height: 400px;
				padding-top: 2em;
				padding-bottom: 1em;
				.entry-header {
					h3 {
						color: $snow;
						text-transform: uppercase;
						font-weight: $normal;
						font-size: 24px;
						font-size: 1.5rem;
						text-align: center;
					} //h3
				} //.entry-header
				.entry-content {
					ul {
						padding-bottom: 0px;
						li {
							padding: 1em 0px;
							list-style: none;
							border-bottom: 1px dotted darken($marengo, 10%);
							&:last-child {
								padding-bottom: 0px;
								border-bottom: none;
							}
							img {
								width: 100%;
								display: block;
								height: auto;
								border: 2px solid darken($snow, 10%);
								margin-bottom: 0.5em;
							} //img
							.fp-blog-metadata {
								font-size: 14px;
								font-size: 0.875rem;
								color: $smoothred;
								line-height: 1;
								margin-bottom: 1em;
							} //.fp-blog-metadata
							h4 {
								margin-bottom: 0.5em;
								a {
									color: $white;
									font-size: 20px;
									font-size: 1.25rem;
									line-height: 1.2;
									font-weight: $light;
									@include single-transition(all, 0.3s);
									&:hover,
									&:focus {
										color: $carbon;
									} //&:hover, &:focus
								} //a
							} //h4
							p {
								color: $snow;
								font-size: 16px;
								font-size: 1rem;
								font-weight: $light;
								line-height: 1.3;
								margin-bottom: 0.5em;
							} //p
							.cta {
								font-family: $copy;
								font-size: 18px;
								font-size: 1.125rem;
								font-weight: $normal;
								color: $smoothred;
								margin-top: 0.5em;
								border-bottom: 1px dotted $smoothred;
								@include single-transition(all, 0.3s);
								&:hover,
								&:focus {
									color: $smoothwhite;
									border-bottom-color: $smoothwhite;
								} //&:hover,&:focus
							} //a
						} //li
					} //ul
				} //.entry-content
			} //.wrap
		} //.panel4

		/* TESTIMONIALS */
		.panel5 {
			background-color: darken($marengo, 10%);
			background-image: url('http://localhost/~ronyortiz/sites2017/unicad17/wp-content/themes/pleiades17/assets/images/web/pattern1.png');
			background-repeat: repeat;
			.wrap {
				min-height: 400px;
				padding-top: 2em;
				padding-bottom: 1em;
				.entry-header {
					h3 {
						color: $snow;
						text-transform: uppercase;
						font-weight: $normal;
						font-size: 24px;
						font-size: 1.5rem;
						text-align: center;
						// margin-bottom: 1em;
					} //h3
				} //.entry-header
				.entry-content {
					// padding-left: 1em;
					ul {
						margin-bottom: 0px;
						li {
							border-bottom: 1px dotted $midsilver;
							padding: 1em 0px;
							list-style: none;
							text-align: center;
							&:last-child {
								border-bottom: none;
							}
							h4 {
								color: $white;
								font-size: 20px;
								font-size: 1.25rem;
								line-height: 1.2;
								font-weight: $light;
								margin-bottom: 0.5em;
							} //h4
							p {
								color: $darksilver;
								font-size: 15px;
								font-size: 0.9375rem;
								margin-bottom: 1em;
							} //p
							a {
								button {
									font-family: $copy;
									font-size: 15px;
									font-size: 0.9375rem;
									padding: 3px 1em;
									color: $darksilver;
									margin-bottom: 0.5em;
								} //button
							} //a
							.fp-test-metadata {
								font-size: 14px;
								font-size: 0.875rem;
								color: $red;
								line-height: 1.2;
							} //.fp-test-metadata
						} //li
					} //ul

				} //.entry-content
			}
		} //.panel5
		/* Awards */
		.panel6 {
			.wrap {
				min-height: 350px;
				padding-top: 1em;
				.entry-header {
					h3 {
						color: Indigo;
						text-transform: uppercase;
						text-align: center;
					} //h3
				} //.entry-header
				.entry-content {
					p {
						color: Indigo;
						text-align: center;
					} //p
					ul {
						@include clearfix();
						display: block;
						margin: 0px auto;
						width: 80%;
						li {
							list-style: none;
							display: inline;
							text-align: center;
							padding: 0px;
							img {
								max-width: 40%;
								height: auto;
								margin: 2em 1em 2em 0px;
							} //img
						} //li
					} //ul
				} //.entry-content
			} //.wrap
		} //.panel6
	} //.home

} //breakpoint($movil)

@include breakpoint($tablet) { //30em 480px
	/* Front Page */
	.panel-content .wrap {
		/* padding-bottom: 2em;
		padding-top: 3.5em; */
	}
	.page-one-column .panel-content .wrap {
		max-width: 740px;
	}
	.panel-content .entry-header {
		margin-bottom: 4.5em;
	}
	.panel-content .recent-posts .entry-header {
		margin-bottom: 0;
	}
	.home {

		/* SERVICES */
		.panel3 {
			padding: 0px;
			.wrap {
				padding-left: 0px;
				padding-right: 0px;
				.entry-header {
					margin-bottom: 0px;

				} //.entry-header
				.entry-content {
					ul {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						li {
							margin: 5px;
							width: 220px;
							/* flex-grow: 0;
							flex-shrink: 0;
							flex-basis: auto; */
							&:last-child {

							}
							h4 {

								a {

									&:hover,
									&:focus {

									} //&:hover, &:focus
								} //a
							}
							p {

							} //p
							#circle {

								img {

								} //img
							} //#circle
						} //li
					} //ul
				} //.entry-content
			} //.wrap
		} //.panel3

		/* BLOG */
		.panel4 {

			.wrap {

				.entry-header {
					h3 {

					} //h3
				} //.entry-header
				.entry-content {
					ul {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						li {
							margin: 1em;
							width: 320px;
							&:last-child {
								padding-bottom: 1em;
								border-bottom: 1px dotted darken($marengo, 10%);
							}
							img {
								width: auto;
								display: block;
								height: 220px;
								border: 2px solid darken($snow, 10%);
								margin-bottom: 0.5em;
							} //img
							.fp-blog-metadata {

							} //.fp-blog-metadata
							h4 {

								a {

									&:hover,
									&:focus {

									} //&:hover, &:focus
								} //a
							} //h4
							p {

							} //p
							.cta {

								&:hover,
								&:focus {

								} //&:hover,&:focus
							} //a
						} //li
					} //ul
				} //.entry-content
			} //.wrap
		} //.panel4

	} //.home


} //breakpoint($tablet)

@include breakpoint($laptop) { //48em 768px

	/* Front Page Original */
	.pleiades17-front-page.has-header-image .site-branding,
	.pleiades17-front-page.has-header-video .site-branding,
	.home.blog.has-header-image .site-branding,
	.home.blog.has-header-video .site-branding {
		margin-bottom: 70px;
	}
	.pleiades17-front-page.has-header-image .custom-header-media,
	.pleiades17-front-page.has-header-video .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.home.blog.has-header-video .custom-header-media {
		height: 1200px;
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
	}
	.pleiades17-front-page.has-header-image .custom-header-media:before,
	.pleiades17-front-page.has-header-video .custom-header-media:before,
	.home.blog.has-header-image .custom-header-media:before,
	.home.blog.has-header-video .custom-header-media:before {
		height: 33%;
	}
	.admin-bar.pleiades17-front-page.has-header-image .custom-header-media,
	.admin-bar.pleiades17-front-page.has-header-video .custom-header-media,
	.admin-bar.home.blog.has-header-image .custom-header-media,
	.admin-bar.home.blog.has-header-video .custom-header-media {
		height: calc(100vh - 32px);
	}
	.panel-content .wrap {
		padding-bottom: 4.5em;
		padding-top: 6em;
	}
	.panel-image {
		height: 100vh;
		max-height: 1200px;
	}
	.background-fixed .panel-image {
		background-attachment: fixed;
	}
	.page-two-column .panel-content .entry-header {
		float: left;
		width: 36%;
	}
	.page-two-column .panel-content .entry-content {
		float: right;
		width: 58%;
	}
	/* Front Page - Recent Posts */
	.page-two-column .panel-content .recent-posts {
		clear: right;
		float: right;
		width: 58%;
	}
	.panel-content .recent-posts article {
		margin-bottom: 4em;
	}
	.panel-content .recent-posts .entry-header,
	.page-two-column #primary .panel-content .recent-posts .entry-header,
	.panel-content .recent-posts .entry-content,
	.page-two-column #primary .panel-content .recent-posts .entry-content {
		float: none;
		width: 100%;
	}
	.panel-content .recent-posts .entry-header {
		margin-bottom: 1.5em;
	}
	.page .panel-content .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	// RO Front Page Styles
	.home {
		/* Frontpage Slider */
		.panel1 {

			.wrap {
				.entry-header {
					margin-bottom: 0px;
				} //.entry-header
			}
		} //.panel1
		/* Intro */
		.panel2 {

			.wrap {
				.entry-header {
					margin-bottom: 0px;
				} //.entry-header
			}
		} //.panel2
		/* Four main services */
		.panel3 {
			padding: 0px;
			.wrap {
				padding-left: 0px;
				padding-right: 0px;
				.entry-header {
					margin-bottom: 0px;

				} //.entry-header
				.entry-content {
					ul {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						li {
							margin: 5px 5px 0px;
							padding: 1em 1em 2em;
							width: 240px;
							/* flex-grow: 0;
							flex-shrink: 0;
							flex-basis: auto; */
							&:last-child {

							}
							h4 {

								a {

									&:hover,
									&:focus {

									} //&:hover, &:focus
								} //a
							}
							p {

							} //p
							#circle {

								img {

								} //img
							} //#circle
						} //li
					} //ul
				} //.entry-content
			} //.wrap
		} //.panel3
		/* Blog */
		.panel4 {

			.wrap {
				padding-left: 0px;
				padding-right: 0px;
				.entry-header {
					margin-bottom: 0px;
				} //.entry-header
				.entry-content {
					ul {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						li {
							margin: 1em;
							width: 270px;
							&:last-child {

							}
							img {

							} //img
							.fp-blog-metadata {

							} //.fp-blog-metadata
							h4 {

								a {

									&:hover,
									&:focus {

									} //&:hover, &:focus
								} //a
							} //h4
							p {

							} //p
							.cta {

								&:hover,
								&:focus {

								} //&:hover,&:focus
							} //a
						} //li
					} //ul
				} //.entry-content




			} //.wrap
		} //.panel4
		/* Testimonials */
		.panel5 {

			.wrap {
				.entry-header {
					margin-bottom: 0px;
				} //.entry-header
				.entry-content {
					@include container(650px);
				} //.entry-content
			}
		} //.panel5
		/* Awards */
		.panel6 {

			.wrap {
				.entry-header {
					margin-bottom: 0px;
				} //.entry-header
			} //.wrap
		} //.panel6
	} //.home

} //breakpoint($laptop) 48em 768px

@include breakpoint($desktop) { //67em 1072px
} //breakpoint($desktop)

@include breakpoint($largedesk) { //79em 1264px
} //breakpoint($largedesk)