@include breakpoint($movil) { //20em 320px
	// FOOTER
	.site-footer {
		.wrap {
			width: 100%;
			max-width: 100%;
			padding: 0px;
			.widget-area {
				padding-bottom: 0px;
			}
		}
		background-color: $carbon;
		color: $snow;
		h2 {
			color:$darkersilver;
		}
		.footer-widget-1 {
			// border-top: 1px solid $darkergrey;
			border-bottom: 1px solid $darkergrey;
			padding: 1em 2em;
			text-align: center;
		} //.footer-widget-1
		.footer-widget-2 {
			// border-top: 1px solid $darkergrey;
			border-bottom: 1px solid $darkergrey;
			padding: 1em 2em;
			text-align: center
		} //.footer-widget-2
		.social-navigation {
			// border-top: 1px solid $darkergrey;
			border-bottom: 1px solid $darkergrey;
			margin-bottom: 0px;
			.menu-social-links-menu-container {
				padding: 2em;
				ul {
					display: flex;
					justify-content: space-between;
					padding: 0px 2em;
					li {
						a {
							height: 35px;
							width: 35px;
							.icon {
								top: 10px;
							}
						} //a
					} //li
					//Colors
					#menu-item-20 a {
						background-color: rgb(33, 78, 152);
					}
					#menu-item-21 a {
						background-color: rgb(59, 160, 219);
					}
					#menu-item-22 a {
						background-color: rgb(0, 98, 165);
					}
					#menu-item-23 a {
						background-color: rgb(143, 16, 19);
					}
				} //ul
			} //.menu-social-links-menu-container
		} //.social-navigation
		.site-info {
			padding: 1em 2em;
			margin: 0px;
			p {
				color: $darksilver;
				text-align: center;
			} //p
		} //.site-info
	} //.site-footer
} //breakpoint($movil)

@include breakpoint($tablet) { //30em 480px
	/* Site Footer */
	.site-footer {
		font-size: 16px;
		font-size: 1rem;
	}
} //breakpoint($tablet)

@include breakpoint($laptop) { //48em 768px
	/* Footer */
	.site-footer {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 1.6;
		// margin-top: 3em;
	}
	.site-footer .widget-column.footer-widget-1 {
		float: left;
		width: 36%;
	}
	.site-footer .widget-column.footer-widget-2 {
		float: right;
		width: 58%;
	}
	.social-navigation {
		clear: left;
		float: left;
		margin-bottom: 0;
		width: 36%;
	}
	.site-info {
		float: left;
		padding: 0.7em 0 0;
		width: 58%;
	}
	.social-navigation + .site-info {
		margin-left: 6%;
	}
	.site-info .sep {
		margin: 0 0.5em;
		display: inline;
		visibility: visible;
		height: auto;
		width: auto;
	}
} //breakpoint($laptop)

@include breakpoint($desktop) { //67em
} //breakpoint($desktop)

@include breakpoint($largedesk) { //79em

} //breakpoint($largedesk)