// MAIN COLORS

$white: #FFFFFF;
$black: #000000;
$snow: rgb(250, 250, 250);
$carbon: rgb(10, 10, 10);

$darkergrey: rgb(51, 51, 51);
$darkgrey: rgb(77, 77, 77);
$midgrey: rgb(102, 102, 102);
$lightgrey: rgb(128, 128, 128);
$darkersilver: rgb(153, 153, 153);
$darksilver: rgb(179, 179, 179);
$midsilver: rgb(204, 204, 204);
$lightsilver: rgb(230, 230, 230);


// THEME COLORS
$blue: rgb(34, 19, 118); //#223B76;
$marengo: rgb(74, 81, 91); //#4A515B;
$red: rgb(181, 2, 31); //#B5021F;
$smoothred: rgb(220, 68, 93); //#DC445D;
$smoothwhite: rgb(244, 244, 244); //#F4F4F4;

