// GRID (SUSY)
$susy: (
	columns: 12,
	container: 1000px,
	gutters: 1/2,
	gutter-position: inside
);

// BREAKPOINT MEDIA QUERIES
$movil-max: max-width 479px;

$movil: 320px; //20em
$tablet: 480px; //30em
$laptop: 768px; //48em
$desktop: 1072px; //67em
$largedesk: 1264px; //79em


